Source: debian-changelog-test
Maintainer: Dmitriy Safronov <zimniy@cyberbrain.pw>
Build-Depends: debhelper-compat (= 12)
Section: metapackages
Priority: optional
Standards-Version: 3.9.2

Package: debian-changelog-test
Architecture: all
# Section: metapackages
# Priority: optional
# Pre-Depends: <comma-separated list of packages>
Depends: vanilla-gnome-desktop
Recommends: gnome-firmware
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Description: test package
 long description and info
 .
 second paragraph
