Package: test
Version: 7.0.1
Architecture: all
Maintainer: Dmitriy Safronov <zimniy@cyberbrain.pw>
Description: test package
 long description and info
 .
 second paragraph

Section: metapackages
Priority: optional

Standards-Version: 3.9.2

# Pre-Depends: <comma-separated list of packages>
Depends: vanilla-gnome-desktop
Recommends: gnome-firmware
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
